<section class = "content">
    <div class = "row">
        <div class = "col-md-3">
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="{{usuario.foto}}" alt="User profile picture">            
                    <h3 class="profile-username text-center">{{usuario.nome}}</h3>
                    <p class="text-muted text-center">{{usuario.profissao}}</p>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Indicações</b> <a class="pull-right">{{num_depo}}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Grupos</b> <a class="pull-right">{{num_group}}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Amigos</b> <a class="pull-right">{{num_friends}}</a>
                        </li>
                    </ul>
                    <button *ngIf="this.relacao.type === 'Nenhum' && !is_my_profile" (click)="askAsFriend()" class="btn btn-primary btn-block"><b>Adicionar</b></button>
                    <button *ngIf="this.relacao.type === 'IS_FRIEND'" (click)="deleteFriendship()"class="btn btn-danger btn-block"><b>Desfazer Amizade</b></button>
                    <button *ngIf="this.relacao.type === 'ASKED_AS_FRIEND'" (click)="deleteSolicitation()" class="btn btn-default btn-block"><b>Cancelar Solicitação</b></button>

                </div>
            </div>

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Grupos</h3>
                </div>
                <div class="box-body">
                    <div *ngFor="let grupo of grupos">
                        <strong (click)="verGrupo(grupo.group._id)"><i class="fa fa-cube margin-r-5"></i>{{grupo.group.properties.nome}}</strong>
                        <p class="text-muted">{{grupo.group.properties.descricao}}</p>
                        <hr>
                    </div>
                    <button *ngIf="num_group>5" class="btn btn-primary btn-block"><b>Ver mais</b></button>

                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class = "box box-solid">
                <div class = "box-header with-border">
                    <h2 class="box-title"><b>Indicações</b></h2>
                </div>
                <div class = "box-body">
                    <div class= "row">
                        <div *ngFor="let depoimento of depoimentos;" class= "col-md-6">
                            <div class="post">
                                <div class="user-block">
                                    <img class="img-circle img-bordered-sm" src="{{depoimento.sender.properties.foto}}" alt="User Image">
                                    <span class="username">
                                        <a (click)="verPerfil(depoimento.sender._id)">{{depoimento.sender.properties.nome}}</a>
                                        <a class="pull-right btn-box-tool"> {{depoimento.depo.properties.area}}</a>
                                    </span>
                                    <span class="description">{{depoimento.depo.properties.date}}</span>
                                </div>
                                <p>{{depoimento.depo.properties.depo}}</p>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <button *ngIf="num_group>5" class="btn btn-primary"><b>Ver mais</b></button>

                </div>
            </div>
        </div>
    </div>

    <button *ngIf="relacao.type === 'IS_FRIEND'" class="fixed-button wobble" type="button"  data-toggle="modal" data-target="#myModal" >  
        <i class="fa fa-edit fa-2x"></i>
    </button>
</section>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Escrever uma Indicação</h4>
        </div>
        <div class="modal-body">
            <form #form="ngForm" novalidate>

                <div class = "form-group has-feedback" [class.has-success] = "area.valid && (area.dirty || area.touched)" [class.has-error] = "!area.valid && (area.dirty || area.touched)">
                    <label>Área</label>
                    <select name= "area" #area="ngModel" ngModel required class="form-control">
                        <option value = "Acadêmica" >Acadêmica</option>
                        <option value = "Profissional" >Profissional</option>
                    </select>
                    <span class= "help-block" *ngIf="!indicacao.valid && (indicacao.dirty || indicacao.touched)"> <i class="fa fa-remove"></i> Ops</span>
                    <span class= "help-block" *ngIf="indicacao.valid && (indicacao.dirty || indicacao.touched)"> <i class="fa fa-check"></i> Ok</span>
                </div>

                <div class="form-group has-feedback" [class.has-success] = "indicacao.valid && (indicacao.dirty || indicacao.touched)" [class.has-error] = "!indicacao.valid && (indicacao.dirty || indicacao.touched)">
                    <label>Indicação</label>
                    <textarea name= "indicacao" #indicacao="ngModel" ngModel required class="form-control" rows="6" minlength = "0" maxlength="458"></textarea>
                    <span class= "help-block" *ngIf="!indicacao.valid && (indicacao.dirty || indicacao.touched)"> <i class="fa fa-remove"></i> Ops</span>
                    <span class= "help-block" *ngIf="indicacao.valid && (indicacao.dirty || indicacao.touched)"> <i class="fa fa-check"></i> {{form.value.indicacao.length}} de 458</span>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="sendIndication(form.value)" data-dismiss="modal">Enviar Indicação</button>
        </div>
      </div>
    </div>
  </div>