<section class = "content">
  <div class = "row">
    <div class="col-md-12">
      <div class = "box box-solid">
        <div class = "box-header with-border">
          <h2 class="box-title"><b>Grupos</b></h2>
        </div>
        <div class = "box-body">
          <div class = "row">
            <div *ngFor="let grupo of grupos;" class= "col-md-4">
              <div class="post">
                <div class="user-block"> 
                  <img *ngIf="grupo.group.properties.area == 'Profissional'" class="img-circle img-bordered-sm" src="../../../../assets/images/profissional.jpg" alt="User Image">
                  <img *ngIf="grupo.group.properties.area == 'Acadêmica'" class="img-circle img-bordered-sm" src="../../../../assets/images/academico.png" alt="User Image">    
                  <span class="username"> 
                    <a (click) = "verGrupo(grupo.group._id)">{{grupo.group.properties.nome}} 
                      <i *ngIf="grupo.rel.type == 'CREATED'" class= "fa fa-bookmark"></i>
                    </a>
                  </span>
                  <span class="description">
                    <a> {{grupo.group.properties.area}}</a>
                  </span>
                </div>
                <p>{{grupo.group.properties.descricao}}</p>
                <hr>
              </div>
            </div>
                
          </div>
        </div>
        <div class="box-footer">
          <a (click)="getMoreGroups()"style="text-align: center"> Ver mais</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class = "box box-solid">
        <div class = "box-header with-border">
          <h2 class="box-title"><b>Convites Recebidos</b></h2>
        </div>
        <div class="box-body">
          <div class = "row">
            <div *ngFor="let pendente of convites_pendentes;" class= "col-md-12">
              <div class="post">
                <div class="user-block"> 
                  <img *ngIf="pendente.group.properties.area == 'Profissional'" class="img-circle img-bordered-sm" src="../../../../assets/images/profissional.jpg" alt="User Image">
                  <img *ngIf="pendente.group.properties.area == 'Acadêmica'" class="img-circle img-bordered-sm" src="../../../../assets/images/academico.png" alt="User Image">    
                  <span class="username"> 
                    <a (click) = "verGrupo(pendente.group._id)">{{pendente.group.properties.nome}} </a>
                  </span>
                  <span class="description">
                    <a> {{pendente.group.properties.area}}</a>
                  </span>
                </div>
                <div class = "row">
                  <div class="col-md-6">
                    <button  (click)="acceptSolicitation(pendente.group._id,pendente)" class="btn btn-block btn-primary"><b>Aceitar</b></button>
                  </div>
                  <div class="col-md-6">
                    <button  (click)="refuseSolicitation(pendente.group._id,pendente.group)" class="btn btn-block btn-danger"><b>Recusar</b></button>
                  </div>
                </div>
                <hr>
              </div>
            </div>
                    
          </div>
        </div>
        <div class="box-footer">

        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h2 class="box-title"><b>Pedidos de participação enviados</b></h2>
        </div>
        <div class= "box-body">
            <div class = "row">
                <div *ngFor="let enviado of convites_enviados;" class= "col-md-12">
                  <div class="post">
                    <div class="user-block"> 
                      <img *ngIf="enviado.group.properties.area == 'Profissional'" class="img-circle img-bordered-sm" src="../../../../assets/images/profissional.jpg" alt="User Image">
                      <img *ngIf="enviado.group.properties.area == 'Acadêmica'" class="img-circle img-bordered-sm" src="../../../../assets/images/academico.png" alt="User Image">    
                      <span class="username"> 
                        <a (click) = "verGrupo(enviado.group._id)">{{enviado.group.properties.nome}} </a>
                      </span>
                      <span class="description">
                        <a> {{enviado.group.properties.area}}</a>
                      </span>
                    </div>
                    <div class = "row">
                      <div class="col-md-12">
                        <button  (click)="cancelSolicitation(enviado.group._id,enviado.group)" class="btn btn-block btn-default"><b>Cancelar Pedido</b></button>
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>
                        
              </div>
        </div>
        <div class="box-footer">

        </div>
      </div>
    </div>
  </div>
  


  <button class="fixed-button wobble" type="button"  data-toggle="modal" data-target="#myModal" >  
      <i class="fa fa-plus fa-2x"></i>
  </button>
</section>

<!-- MODAL -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Cria um grupo</h4>
        </div>
        <div class="modal-body">
            <form #form="ngForm" novalidate>
                <div class = "form-group has-feedback" [class.has-success] = "area.valid && (area.dirty || area.touched)" [class.has-error] = "!area.valid && (area.dirty || area.touched)">
                    <label>Área</label>
                    <select name= "area" #area="ngModel" ngModel required class="form-control">
                        <option value = "Acadêmica" >Acadêmica</option>
                        <option value = "Profissional" >Profissional</option>
                    </select>
                    <span class= "help-block" *ngIf="!descricao.valid && (descricao.dirty || descricao.touched)"> <i class="fa fa-remove"></i> Ops</span>
                    <span class= "help-block" *ngIf="descricao.valid && (descricao.dirty || descricao.touched)"> <i class="fa fa-check"></i> Ok</span>
                </div>

                <div class = "form-group has-feedback" [class.has-success] = "nome.valid && (nome.dirty || nome.touched)" [class.has-error] = "!nome.valid && (nome.dirty || nome.touched)">
                  <label >Nome</label>
                  <input type="text" name= "nome" #nome="ngModel" ngModel required class="form-control">
                  <span class= "help-block" *ngIf="!nome.valid && (nome.dirty || nome.touched)"> <i class="fa fa-remove"></i> Ops</span>
                  <span class= "help-block" *ngIf="!nome.valid && (nome.dirty || nome.touched)"> <i class="fa fa-check"></i> OK</span>
                </div>
                
                <div class="form-group has-feedback" [class.has-success] = "descricao.valid && (descricao.dirty || descricao.touched)" [class.has-error] = "!descricao.valid && (descricao.dirty || descricao.touched)">
                    <label>Descrição</label>
                    <textarea name= "descricao" #descricao="ngModel" ngModel required class="form-control" rows="6" minlength = "0" maxlength="458"></textarea>
                    <span class= "help-block" *ngIf="!descricao.valid && (descricao.dirty || descricao.touched)"> <i class="fa fa-remove"></i> Ops</span>
                    <span class= "help-block" *ngIf="descricao.valid && (descricao.dirty || descricao.touched)"> <i class="fa fa-check"></i> {{form.value.descricao.length}} de 458</span>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="createGroup(form.value)" data-dismiss="modal">Criar Grupo</button>
        </div>
      </div>
    </div>
  </div>